<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Создание Физ Лица</h1>
                        <hr/>
                        <form action="javascript:void(0)" class="row" method="post">
                            <div class="col-12" v-if="Object.keys(validationErrors).length > 0">
                                <div class="alert alert-danger">
                                    <ul class="mb-0">
                                        <li v-for="(value, key) in validationErrors" :key="key">{{ value[0] }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="form-group col-12">
                                    <label for="email" class="font-weight-bold">Имя</label>
                                    <input type="text" v-model="person.firstName" name="first_name" id="first_name" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="font-weight-bold">Фамилия</label>
                                    <input type="text" v-model="person.lastName" name="last_name" id="last_name" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="font-weight-bold">Отчество</label>
                                    <input type="text" v-model="person.middleName" name="middle_name" id="middle_name" class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <label for="email" class="font-weight-bold">ИНН</label>
                                    <input type="text" v-model="person.inn" name="inn" id="inn" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button type="submit" :disabled="processing" @click="savePerson"
                                        class="btn btn-primary btn-block">
                                    {{ processing ? "Please wait" : "Сохранить" }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import axios from "axios";

export default {
    name: "person",
    data() {
        return {
            person: {
                firstName: "",
                lastName: "",
                middleName: "",
                inn: "",
            },
            validationErrors: {},
            processing: false
        }
    },
    methods: {
        ...mapActions({
            save: 'person/save',
        }),
        async savePerson() {
            axios.post('/api/persons', this.person, {
                headers: {
                    Authorization: `Bearer ${localStorage.getItem("token")}`
                }
            }).then(({data}) => {
                this.person = {
                    firstName: "",
                    lastName: "",
                    middleName: "",
                    inn: "",
                };
                this.validationErrors = {};
                alert('Физ лицо успешно создано')
            }).catch(({response}) => {
                if (response.status === 422) {
                    this.validationErrors = response.data.errors
                } else {
                    this.validationErrors = {}
                    alert(response.data.message)
                }
            }).finally(() => {
                this.processing = false
            })
        }
    },
}
</script>
