<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Синхронизации Физ Лиц</h1>
                        <hr/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Отчество</th>
                                <th scope="col">ИНН</th>
                                <th scope="col">Изменить</th>
                                <th scope="col">Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="person in persons">
                                <th scope="row">{{person.id}}</th>
                                <th scope="row">{{person.lastName}}</th>
                                <th scope="row">{{person.firstName}}</th>
                                <th scope="row">{{person.middleName}}</th>
                                <th scope="row">{{person.inn}}</th>
                                <td @click="editPerson(person)" class="link-primary ">Изменить</td >
                                <td @click="deletePersonClick(person)" class="link-danger">Удалить</td >
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import axios from "axios";

export default {
    name: "syncs",
    data() {
        return {
            persons: [],
            processing: false
        }
    },
    created() {
        this.updateSyncs();
    },
    methods: {
        ...mapActions({
            getPersons: 'person/getAll',
            deletePerson: 'person/delete',
        }),
        async updateSyncs() {
            this.processing = true;
            this.getPersons().then(({data}) => {
                this.persons = data.data.persons;
            }).catch(({response}) => {
                alert(response.data.message)
            }).finally(() => {
                this.processing = false
            })
        },
        editPerson(person) {
            this.$router.push({name: 'person', params: {id: person.id}})
        },
        deletePersonClick(person) {
            this.deletePerson(person.id).then(({data}) => {
                this.persons = this.persons.filter((p) => p.id !== person.id)
            }).catch(({response}) => {
                alert(response.data.message)
            }).finally(() => {
                this.processing = false
            })
        }
    },
}
</script>
