<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="col-12 mb-2">
                    <button @click="addSync()"
                            class="btn btn-primary">
                        {{ "Синхронизация" }}
                    </button>
                </div>
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Синхронизации Физ Лиц</h1>
                        <hr/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Номер синхронизации</th>
                                <th scope="col">Перейти</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="sync in syncs" @click="getSync(sync)">
                                <th scope="row">{{sync.id}}</th>
                                <td>Перейти</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import axios from "axios";

export default {
    name: "syncs",
    data() {
        return {
            syncs: [],
            processing: false
        }
    },
    created() {
        this.updateSyncs();
    },
    methods: {
        ...mapActions({
            getSyncs: 'person/getSyncs',
            newSync: 'person/newSync',
        }),
        async updateSyncs() {
            this.processing = true;
            this.getSyncs().then(({data}) => {
                this.syncs = data.data.syncs;
            }).catch(({response}) => {
                alert(response.data.message)
            }).finally(() => {
                this.processing = false
            })
        },
        getSync(sync) {
            this.$router.push({ name: 'sync', params: { id: sync.id } })
        },
        addSync() {
            this.processing = true;
            this.newSync().then(({data}) => {
                alert('Синхронизация успешно запущена!')
            }).catch(({response}) => {
                alert(response.data.message)
            }).finally(() => {
                this.processing = false
            })
        }
    },
}
</script>
