<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Синхронизация Физ Лиц № {{}}</h1>
                        <hr/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">ФИО</th>
                                <th scope="col">ИНН</th>
                                <th scope="col">Организации, в которых данное физлицо является руководителем</th>
                                <th scope="col">Организации, в которых данное физлицо является учредителем</th>
                                <th scope="col">Индивидуальные предприниматели</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="person in persons">
                                <th scope="row">{{ person.lastName }} {{ person.firstName }} {{ person.middleName }}</th>
                                <td>{{ person.inn }}</td>
                                <td>
                                    <p v-for="organization in person.organizations.filter((item) => item.type === 0)">
                                        {{ organization.inn }}
                                    </p>
                                </td>
                                <td>
                                    <p v-for="organization in person.organizations.filter((item) => item.type === 1)">
                                        {{ organization.inn }}
                                    </p>
                                </td>
                                <td>
                                    <p v-for="organization in person.organizations.filter((item) => item.type === 2)">
                                        {{ organization.inn }}
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import axios from "axios";

export default {
    name: "sync",
    props: {
        id: Number,
    },
    data() {
        return {
            persons: [],
            processing: false
        }
    },
    created() {
        this.updateSyncs();
    },
    methods: {
        ...mapActions({
            getSync: 'person/getSync',
        }),
        async updateSyncs() {
            this.processing = true;

            this.getSync(this.$route.params.id).then(({data}) => {
                this.persons = data.data.persons;
            }).catch(({response}) => {
                alert(response.data.message)
            }).finally(() => {
                this.processing = false
            })
        },
    },
}
</script>
